body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #A6CFE3, #A6CFE3);
    color: #333;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 12px;
    font-size: 15px;
    outline: none;
    resize: none;
}

.counter {
    font-size: 12px;
    text-align: right;
    margin-top: 3px;
    color: #888;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2575fc;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 10px;
}

button:hover {
    background: #1b5ed9;
}

.message {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    margin-top: 12px;
}

.timestamp {
    font-size: 11px;
    color: #777;
    margin-top: 4px;
}

.link-box {
    margin-top: 10px;
    background: #eef4ff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
